<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Epam.Talalaykina.SummerPractice.Task1.Properties.Settings.STORE_RATING_SYSTEM3ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=STORE_RATING_SYSTEM3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>